/*--- Only Firefox ---*/
@keyframes plyr-progress {
  to {
    background-position: 25px 0; } }
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0.8;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.8, 1.8, 1.8);
    transform: scale3d(1.8, 1.8, 1.8); } }
@keyframes zoomIn {
  from {
    opacity: 0.8;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.8, 1.8, 1.8);
    transform: scale3d(1.8, 1.8, 1.8); } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 1s linear forwards; }

@-webkit-keyframes fadeinout {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes fadeinout {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.container {
  position: absolute;
  opacity: 0;
  overflow: hidden; }
  .container:before {
    display: block;
    content: " "; }
  .container > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .container:hover .player {
    opacity: 1; }
  .container .play-btn {
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background: #4a4a4a url("../images/ic_play_arrow.png") no-repeat fixed center;
    cursor: pointer; }
  .container img {
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s; }

.center {
  margin-top: auto;
  margin-left: auto; }

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

body, html {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  font-size: 70%;
  margin: 0;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  @media only screen and (min-width: 0px) {
    body, html {
      font-size: 30%; } }
  @media only screen and (min-width: 320px) {
    body, html {
      font-size: 40%; } }
  @media only screen and (min-width: 480px) {
    body, html {
      font-size: 50%; } }
  @media only screen and (min-width: 768px) {
    body, html {
      font-size: 60%; } }
  @media only screen and (min-width: 992px) {
    body, html {
      font-size: 66%; } }
  @media only screen and (min-width: 1200px) {
    body, html {
      font-size: 75%; } }

.player-popup {
  position: absolute;
  overflow: hidden;
  border-radius: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: rgba(28, 28, 28, 0.9);
  transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
  z-index: 10000; }

.player-button {
  height: 2.8rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-style: normal;
  color: #eee; }

.player-menuitem[role=menuitemradio][aria-checked=true] .player-menuitem-label {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: left 0.2rem center;
  background-size: 1.5rem 1.5rem;
  -moz-background-size: 1.5rem 1.5rem;
  -webkit-background-size: 1.5rem 1.5rem; }

.player-menuitem {
  cursor: pointer;
  font-size: 1.1rem;
  color: #eee;
  padding-left: 0.5rem; }
  .player-menuitem:hover {
    background: rgba(255, 255, 255, 0.1); }

.player-panel-title {
  padding: 1rem 2rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 2.2rem 2.2rem;
  -moz-background-size: 2.2rem 2.2rem;
  -webkit-background-size: 2.2rem 2.2rem;
  background-position: left center; }

.player-menuitem-label {
  padding: 0.7rem 2rem; }

.player-panel-header {
  border-bottom: 1px solid #444;
  padding-left: 0.5rem; }

.player-settings-menu {
  bottom: 6rem;
  right: 8rem;
  border-radius: .4rem; }

.player-notify {
  bottom: 6rem;
  right: 1rem;
  border-radius: .4rem; }

.notify {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  margin-bottom: 1rem; }

#controller {
  position: absolute;
  bottom: 1%;
  left: 10px;
  margin-right: 10px;
  width: 98%; }

.fps {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 8rem;
  font-size: 3.5rem;
  color: white;
  height: 5rem;
  padding: 0.1rem 0.2em;
  opacity: 0.8;
  background: rgba(0, 180, 0, 0.7);
  z-index: 100000 !important;
  display: none; }

#seek-bar {
  width: 100%; }

.player-wrapper {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 6rem;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
  background: url("../images/bg.png");
  background-repeat: repeat-x;
  background-size: .2rem 6rem;
  opacity: 0; }

.player {
  left: 0px !important;
  box-sizing: border-box;
  height: 6.0rem;
  font-family: Arial, sans-serif;
  position: absolute;
  padding: 0;
  bottom: 0px;
  z-index: 122;
  user-select: none;
  width: 100%; }
  .player .player-controller {
    height: 6rem; }
    .player .player-controller input[type='range'] {
      display: block;
      height: 0.4rem;
      width: 100%;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      border: none;
      background: transparent; }
      .player .player-controller input[type='range']::-webkit-slider-runnable-track {
        height: 8px;
        background: transparent;
        border: 0;
        border-radius: 4px;
        user-select: none; }
      .player .player-controller input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -4px;
        position: relative;
        height: 16px;
        width: 16px;
        background: #fff;
        border: 2px solid transparent;
        border-radius: 100%;
        transition: background .2s ease, border .2s ease, transform .2s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
        box-sizing: border-box; }
      .player .player-controller input[type='range']::-moz-range-track {
        height: 8px;
        background: transparent;
        border: 0;
        border-radius: 4px;
        user-select: none; }
      .player .player-controller input[type='range']::-moz-range-thumb {
        position: relative;
        height: 16px;
        width: 16px;
        background: #fff;
        border: 2px solid transparent;
        border-radius: 100%;
        transition: background .2s ease, border .2s ease, transform .2s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
        box-sizing: border-box; }
      .player .player-controller input[type='range']::-ms-track {
        height: 8px;
        background: transparent;
        border: 0;
        color: transparent; }
      .player .player-controller input[type='range']::-ms-fill-upper {
        height: 8px;
        background: transparent;
        border: 0;
        border-radius: 4px;
        user-select: none; }
      .player .player-controller input[type='range']::-ms-fill-lower {
        height: 8px;
        background: transparent;
        border: 0;
        border-radius: 4px;
        user-select: none;
        background: #63B867; }
      .player .player-controller input[type='range']::-ms-thumb {
        position: relative;
        height: 16px;
        width: 16px;
        background: #fff;
        border: 2px solid transparent;
        border-radius: 100%;
        transition: background .2s ease, border .2s ease, transform .2s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        margin-top: 0; }
      .player .player-controller input[type='range']::-ms-tooltip {
        display: none; }
      .player .player-controller input[type='range']:focus {
        outline: 0; }
      .player .player-controller input[type='range']::-moz-focus-outer {
        border: 0; }
      .player .player-controller input[type='range'].tab-focus:focus {
        outline-offset: 3px; }
      .player .player-controller input[type='range']:active::-webkit-slider-thumb {
        background: #63B867;
        border-color: #fff;
        transform: scale(1.25); }
      .player .player-controller input[type='range']:active::-moz-range-thumb {
        background: #63B867;
        border-color: #fff;
        transform: scale(1.25); }
      .player .player-controller input[type='range']:active::-ms-thumb {
        background: #63B867;
        border-color: #fff;
        transform: scale(1.25); }
    .player .player-controller input[type='range'].tab-focus:focus {
      outline: 1px dotted rgba(255, 255, 255, 0.5); }
    .player .player-controller .progress {
      height: .4rem;
      width: 80%;
      float: left;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 1px 4px rgba(20, 22, 26, 0.3);
      cursor: pointer;
      position: relative;
      transition: height 0.1s;
      margin: 2.8rem 0rem 0rem 0rem;
      position: relative; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .progress {
          width: 75%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .progress {
          width: 70%; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .progress {
          width: 72%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .progress {
          width: 72%; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .progress {
          width: 60%; } }
      .player .player-controller .progress.hover {
        height: .8rem;
        margin-top: 2.6rem; }
        .player .player-controller .progress.hover .progress-button {
          margin-top: -.6rem; }
        .player .player-controller .progress.hover .time {
          top: 1.6rem; }
        .player .player-controller .progress.hover input[type=range], .player .player-controller .progress.hover .progress-bar {
          height: 0.8rem; }
      .player .player-controller .progress input[type="range"] {
        position: absolute;
        z-index: 6000;
        top: 0;
        transition: height 0.1s; }
        .player .player-controller .progress input[type="range"]::-webkit-slider-runnable-track {
          background: transparent; }
        .player .player-controller .progress input[type="range"]::-moz-range-track {
          background: transparent; }
        .player .player-controller .progress input[type="range"]::-ms-fill-upper {
          background: transparent; }
      .player .player-controller .progress.progress-loading {
        animation: plyr-progress 1s linear infinite;
        background-size: 25px 25px;
        background-repeat: repeat-x;
        background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
        color: transparent; }
    .player .player-controller .progress-button {
      background: #fff;
      border-radius: 3.0rem;
      width: 2.0rem;
      margin-top: -.9rem;
      height: 2.0rem;
      position: absolute;
      text-decoration: overline;
      transition: all 0.1s; }
    .player .player-controller .progress-bar {
      background: #63B867;
      box-shadow: inset -30px 0 69px -20px #63B867;
      border-radius: 0.4rem;
      height: 0.4rem;
      position: relative;
      z-index: 999;
      width: 0;
      transition: height 0.1s; }
    .player .player-controller .button-holder {
      position: relative; }
    .player .player-controller [class^="break-points"] {
      background: #fff;
      box-shadow: 0px 0px 2px 1px #fff;
      position: absolute;
      transition: all 0.1s;
      top: 50%;
      margin-top: -.1rem;
      height: .2rem;
      width: .2rem;
      border-radius: .4rem;
      z-index: 2; }
    .player .player-controller [class^="buffered"] {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 0;
      height: 100%;
      border-radius: 4px;
      z-index: 1;
      left: 0;
      width: 100%;
      transition: all 0.1s; }
    .player .player-controller .play-pause {
      font-size: 2rem;
      float: left;
      text-shadow: 0 0 0 #fff;
      color: rgba(255, 255, 255, 0.8);
      width: 4%;
      cursor: pointer;
      font-variant: small-caps;
      text-align: center;
      height: 6rem;
      position: relative; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .play-pause {
          width: 5%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .play-pause {
          width: 6%; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .play-pause {
          width: 8%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .play-pause {
          width: 8%; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .play-pause {
          width: 13%; } }
    .player .player-controller .play-button {
      display: block;
      height: 6rem;
      width: 100%;
      background: url("../images/ic_play.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 4rem;
      margin: auto; }
    .player .player-controller .play .pause-button {
      display: none; }
    .player .player-controller .play:hover {
      text-shadow: 0 0 5px #fff; }
    .player .player-controller .play:active {
      text-shadow: 0 0 7px #fff; }
    .player .player-controller .pause-button {
      box-sizing: border-box;
      height: 6rem;
      width: 100%;
      max-width: 4rem;
      margin: auto;
      background: url("../images/ic_pause.png");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat; }
      .player .player-controller .pause-button span {
        display: none !important;
        background: #fff;
        width: .6rem;
        height: 2.4rem;
        float: left;
        display: block; }
        .player .player-controller .pause-button span:first-of-type {
          margin: 0 .4rem 0 0; }
    .player .player-controller .time {
      color: #fff;
      font-size: 1.6rem;
      position: absolute;
      right: 0;
      transition: all 0.1s;
      top: 1.4rem; }
    .player .player-controller .stime {
      color: #ccc; }
    .player .player-controller .volume {
      width: 4%;
      float: left;
      margin: 1rem 0rem 0 0rem;
      cursor: pointer;
      height: 4rem;
      position: relative; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .volume {
          width: 5%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .volume {
          width: 6%; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .volume {
          width: 8%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .volume {
          width: 8%; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .volume {
          width: 13%; } }
      .player .player-controller .volume input[type=range] {
        width: 8rem;
        z-index: 6000;
        left: -3.75rem;
        top: 3.6rem !important;
        position: absolute; }
      .player .player-controller .volume input[type=range]:focus {
        outline: 0; }
      .player .player-controller .volume input[type=range][orient=vertical] {
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg); }
@-moz-document url-prefix() {
  .player .player-controller .volume input[type=range][orient=vertical] {
    -ms-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important; }
  .player .player-controller .volume input[type=range] {
    height: 8rem;
    left: 0.3rem !important;
    top: 0 !important;
    width: 0 !important;
    position: absolute; } }
    .player .player-controller .volume-icon {
      cursor: pointer;
      height: 4rem;
      position: absolute;
      left: 40%;
      width: 60%; }
      .player .player-controller .volume-icon .volume-icon-parts {
        width: 1rem;
        height: 1rem;
        background-color: #fff;
        display: block;
        position: absolute;
        left: 0rem;
        top: 1.5rem;
        z-index: 1;
        font-weight: bold;
        color: #fff; }
        @media only screen and (max-width: 768px) {
          .player .player-controller .volume-icon .volume-icon-parts {
            width: 0.8rem;
            height: 0.8rem;
            top: 44%; } }
      .player .player-controller .volume-icon .horn-icon {
        content: '';
        width: 0;
        height: 0;
        border: 1rem solid transparent;
        border-left: none;
        border-right-color: #fff;
        z-index: 2;
        position: absolute;
        left: 0rem;
        top: 1rem; }
        @media only screen and (max-width: 768px) {
          .player .player-controller .volume-icon .horn-icon {
            top: 1.1rem; } }
      .player .player-controller .volume-icon .volume-status {
        content: '';
        border: 0.2rem solid #fff;
        border-width: 0 0 0 0;
        margin-left: .8rem;
        border-radius: 0 50px 0 0;
        transform: rotate(45deg);
        font-variant: small-caps;
        position: absolute;
        left: 1rem;
        margin-top: 1.5rem; }
      .player .player-controller .volume-icon .volume-mute {
        display: none; }
    .player .player-controller .volume-holder {
      height: 12rem;
      width: 3rem;
      margin-left: .5rem;
      margin-top: -12rem;
      margin-bottom: -1.5rem;
      border-radius: .4rem .4rem 0 0;
      display: none;
      opacity: 1; }
    .player .player-controller .volume-bar-holder {
      background: #ccc;
      width: .6rem;
      margin: 1.5rem auto;
      box-shadow: 0 1px 1px rgba(20, 22, 26, 0.3);
      height: 7.6rem;
      border-radius: .4rem;
      position: relative;
      cursor: pointer; }
    .player .player-controller .volume-button {
      background: #fff;
      border-radius: 3.0rem;
      box-shadow: 1px 1px 0 rgba(20, 22, 26, 0.3);
      margin-left: -.7rem;
      width: 2.0rem;
      height: 2.0rem;
      top: 2px; }
    .player .player-controller .volume-button-holder {
      position: relative;
      top: -1.0rem; }
    .player .player-controller .volume-bar {
      background: #63B867;
      box-shadow: inset -30px 0 69px -20px #63B867;
      border-radius: .4rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 7.2rem; }
    .player .player-controller .fullscreen {
      cursor: pointer;
      width: 4%;
      float: left;
      margin-top: 1.5rem; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .fullscreen {
          width: 5%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .fullscreen {
          width: 6%;
          margin-right: 0rem; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .fullscreen {
          width: 8%;
          margin-right: 0rem; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .fullscreen {
          width: 8%;
          margin-right: 0rem; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .fullscreen {
          width: 13%; } }
      .player .player-controller .fullscreen a {
        width: 100%;
        min-width: 3rem;
        left: 1rem;
        height: 3rem;
        background-size: 3rem 3rem;
        background-image: url("../images/fullscreen.png");
        background-repeat: no-repeat;
        background-position: center;
        display: block; }
    .player .player-controller .slider-off {
      display: block;
      float: left;
      margin-top: 1.5rem;
      height: 3rem;
      cursor: pointer;
      background: url("../images/slide-off.png") no-repeat center;
      background-size: 60%;
      width: 4%; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .slider-off {
          width: 5%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .slider-off {
          width: 6%; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .slider-off {
          width: 8%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .slider-off {
          width: 8%; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .slider-off {
          width: 13%; } }
    .player .player-controller .settings {
      cursor: pointer;
      justify-content: center;
      align-content: center;
      width: 4%;
      float: left;
      height: 4rem;
      margin-top: 1rem; }
      @media only screen and (max-width: 1024px) {
        .player .player-controller .settings {
          width: 5%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .settings {
          width: 6%; } }
      @media only screen and (max-width: 480px) {
        .player .player-controller .settings {
          width: 8%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .settings {
          width: 8%; } }
      @media only screen and (max-width: 320px) {
        .player .player-controller .settings {
          width: 13%; } }
    .player .player-controller .pause .play-button {
      display: none; }
    .player .player-controller .v-change-11 .volume-status {
      border-width: 1.0rem 1.0rem 0 0;
      margin-top: 1.5rem; }
    .player .player-controller .v-change-10 .volume-status {
      border-width: .9rem .9rem 0 0;
      margin-top: 1.5rem; }
    .player .player-controller .v-change-9 .volume-status {
      border-width: .8rem .8rem 0 0;
      margin-top: 1.5rem; }
    .player .player-controller .v-change-8 .volume-status {
      border-width: .7rem .7rem 0 0;
      margin-top: 1.5rem; }
    .player .player-controller .v-change-7 .volume-status {
      border-width: .6rem .6rem 0 0;
      margin-top: 1.5rem; }
    .player .player-controller .v-change-6 .volume-status {
      border-width: .5rem .5rem 0 0;
      margin-top: 1.6rem; }
    .player .player-controller .v-change-5 .volume-status {
      border-width: .4rem .4rem 0 0;
      margin-top: 1.7rem; }
    .player .player-controller .v-change-4 .volume-status {
      border-width: .3rem .3rem 0 0;
      margin-top: 1.8rem; }
    .player .player-controller .v-change-3 .volume-status {
      border-width: .2rem .2rem 0 0;
      margin-top: 1.9rem; }
    .player .player-controller .v-change-2 .volume-status {
      border-width: .1rem .1rem 0 0;
      margin-top: 2rem; }
    .player .player-controller .v-change-1 .volume-status {
      display: none; }
    .player .player-controller .v-change-1 .volume-mute {
      border-width: 0 0 0 0;
      font-size: 2.5rem;
      display: block;
      left: 2.5rem;
      color: #fff;
      margin-left: 1.5rem;
      transform: rotate(45deg);
      padding-top: 0.7rem; }
      @media only screen and (max-width: 480px) {
        .player .player-controller .v-change-1 .volume-mute {
          padding-top: 33%; } }
      @media only screen and (max-width: 768px) {
        .player .player-controller .v-change-1 .volume-mute {
          padding-top: 33%; } }
      @media only screen and (max-width: 375px) {
        .player .player-controller .v-change-1 .volume-mute {
          padding-top: 33%; } }
  .player .slide {
    text-align: center;
    height: 6rem; }
    .player .slide .slider-navigator {
      width: 92%;
      text-align: center;
      margin-top: 2.5rem; }
      .player .slide .slider-navigator .back {
        width: 25px;
        cursor: pointer;
        display: inline-block;
        margin: 0 0.5rem; }
      .player .slide .slider-navigator .slide-stats {
        color: white;
        font-size: 1.6rem;
        display: inline-block;
        height: 2rem; }
        .player .slide .slider-navigator .slide-stats .current-slide {
          width: 4rem;
          height: 3rem;
          font-size: 1.6rem;
          border-radius: 0.2rem;
          text-align: center;
          background: transparent;
          border: none;
          border-bottom: solid 1px #eee;
          color: #fff;
          margin: 0 1rem 0 0; }
        .player .slide .slider-navigator .slide-stats .divider {
          display: inline-block;
          width: 1.5rem;
          justify-content: center;
          margin-right: 1rem; }
        .player .slide .slider-navigator .slide-stats .total-slides {
          display: inline-block;
          width: 2rem; }
      .player .slide .slider-navigator .forward {
        width: 25px;
        cursor: pointer;
        display: inline-block;
        margin: 0 0.5rem; }
    .player .slide .slider-on-parent {
      position: absolute;
      right: 0;
      top: 1.5rem;
      width: 4%; }
      .player .slide .slider-on-parent .slider-on {
        width: 100%;
        height: 3rem;
        cursor: pointer;
        background: url("../images/slide-off.png") no-repeat center;
        background-size: 60%; }

.ttime {
  color: #ccc; }

.preview {
  width: 11rem;
  height: 6.3rem;
  font-family: Arial, sans-serif;
  z-index: 100100;
  position: fixed;
  left: 10%;
  border-radius: .4rem;
  background: #434343;
  border: solid 0.4rem #575757;
  background-clip: content-box;
  top: 10%;
  display: flex; }
  .preview:after, .preview:before {
    top: 6.6rem;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .preview:after {
    border-top-color: #575757;
    border-width: 1rem;
    margin-left: -1rem; }
  .preview #preview-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto; }
  .preview .preview-time {
    color: white;
    position: absolute;
    height: 1.6rem;
    line-height: 1.6rem;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.6), 0 2px 4px rgba(0, 0, 0, 0.6), -2px 0px 5px rgba(0, 0, 0, 0.6), 0 -2px 5px rgba(0, 0, 0, 0.6);
    left: 4rem;
    text-align: center;
    right: 4rem;
    bottom: 0;
    padding: 0.2rem 0.4rem;
    font-size: 1rem; }

.play-btn-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12; }
  .play-btn-div .play-btn {
    width: 10rem;
    height: 10rem;
    position: relative; }
  .play-btn-div .player-svg-shadow-fill {
    fill: #fff;
    fill-opacity: 1; }
  .play-btn-div .player-svg-fill {
    fill: #fff; }
  .play-btn-div .player-bezel {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6rem;
    height: 6rem;
    z-index: 17;
    margin-left: -3rem;
    margin-top: -3rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    pointer-events: none;
    display: none; }
  .play-btn-div .player-big-mode .player-bezel {
    width: 8rem;
    height: 8rem;
    margin-left: -4rem;
    margin-top: -4rem;
    border-radius: 5rem; }
  .play-btn-div .player-bezel-icon {
    width: 4rem;
    height: 4rem;
    margin: 1rem; }
  .play-btn-div .player-big-mode .player-bezel-icon {
    width: 6rem;
    height: 6rem;
    margin: 2rem; }

.player_loading {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  background-color: rgba(111, 108, 87, 0.9);
  z-index: 120;
  font-weight: 100;
  display: none; }

.player_opaque_back {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  bottom: 6rem;
  background: #000000;
  z-index: 120; }

.player_opaque_transparent_back {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 6rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 120; }

.player_error {
  display: none; }
  .player_error p {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 12.4rem;
    margin: -6.2rem 0rem 0rem 0rem;
    color: #cccccc;
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    line-height: 6rem; }
  .player_error .reload {
    cursor: pointer;
    width: 6.4rem;
    height: 6.4rem;
    margin: 0rem auto;
    text-align: center;
    background: url("../images/reload.png") center center no-repeat;
    background-size: 100%;
    display: block; }
  .player_error strong {
    font-size: 6rem; }

.player_initial_loading {
  display: none; }
  .player_initial_loading .loader {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    width: 12rem;
    height: 12rem;
    margin-top: -6rem;
    margin-left: -6rem;
    z-index: 120;
    text-align: center;
    background: url("../images/loading.svg") center center no-repeat;
    background-size: 100%;
    opacity: 0.5; }
  .player_initial_loading .slow_net_text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65%;
    font-size: 2rem;
    display: none;
    color: #FFF;
    font-family: 'Roboto';
    margin: 1rem; }

.pause-button:active span {
  text-shadow: 0 0 7px #fff; }

/*# sourceMappingURL=app_no_flex.css.map */
