#Contents of .htaccess

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^https://yogeshfullstackdev.github.io/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yogeshfullstackdev.github.io/.*$ [NC]
RewriteRule .(mp4|mp3|avi)$ - [F]